* {
  margin: 0;
  padding: 0;
}
header {
  display: flex;
  position: sticky;
  justify-content: space-around;
  height: 100px;
  margin-bottom: 20px;
  top: 0;
  background-color: white;
  width: 100%;
  z-index: 100;
  margin: 0 auto;
  transition: 1s;
}
header > .main-img {
  margin-top: 20px;
  z-index: 100;
}
header > .header-img {
  display: flex;
  gap: 10px;
  position: absolute;
  top: 10px;
  right: 200px;
  z-index: inherit;
}
header > .header-img > div:first-of-type {
  width: 75px;
  height: 15px;
  font-size: 12px;
  margin-top: 5px;
  color: gray;
  border-right: 1px solid gray;
  gap: 10px;
}
header > .header-img > div > a > img {
  width: 20px;
  height: 20px;
}

/* ul 시작 */

.ulbox {
  width: 100%;
  height: 200px;
  position: absolute;
  background-color: white;
  top: -100px;
  transition: 1s ease;
  z-index: 10;
}
header > ul:hover + .ulbox {
  transform: translateY(200px);
  display: block;
}
header > ul {
  display: flex;
  list-style: none;
  flex-wrap: nowrap;
  margin-top: 70px;
  z-index: 50;
}
header > ul > li > ul {
  list-style: none;
  font-size: 15px;
  margin-right: 3px;
  display: block;
  width: 130px;
  height: 30px;
  text-align: center;
  cursor: pointer;
}
header > ul > li > ul > li:first-of-type {
  margin-top: 20px;
}

header > ul > li > ul > li {
  display: none;
  list-style: none;
  margin-right: 0;
  padding-left: 0;
  padding-bottom: 5px;
  flex-wrap: nowrap;
  width: inherit;
  height: 20px;
  padding-bottom: 8px;
  cursor: pointer;
}
header > ul > li > ul:hover {
  height: 50px;
}

header > ul > li > ul:hover > li {
  display: block;
}
header > ul > li > ul:hover > li:hover {
  text-decoration: underline;
  font-weight: bold;
}
/* ul 끝 */

.menu2 {
  display: none;
}
.menu3 {
  display: none;
}

/* 이미지쪽 시작 */
#main > .first-img > img {
  width: 100%;
  height: 500px;
  margin: 0;
}
.btn {
  border-radius: 50px;
  width: 50px;
  height: 50px;
  background-color: white;
  position: absolute;
  bottom: 30px;
  left: 150px;
  transition-duration: 500ms;
  transition-timing-function: ease;
  box-shadow: 1px 1px 1px 1px rgb(228, 225, 225);
  overflow: hidden;
}

.btn > a > img {
  width: 0;
  height: 0;
  border-radius: 50px;
  bottom: 0px;
  position: absolute;
  left: 27px;
  transition-duration: 500ms;
  transition-timing-function: ease;
  overflow: hidden;
}
.btn:hover > a > img {
  display: block;
  position: absolute;
  width: inherit;
  height: inherit;
  bottom: -15px;
  left: 0px;
}
.btn:hover {
  transform: rotateZ(360deg);
}

.btn > a {
  text-decoration: none;
  position: absolute;
  font-size: 50px;
  color: gray;
  text-align: center;
  bottom: 15px;
  width: inherit;
  height: inherit;
  display: block;
}
#main > .banner-1 {
  background-color: yellow;
  width: 100%;
  height: 250px;
  left: 0;
  margin-top: -5px;
  position: relative;
}
#main > .banner-1 > p:first-of-type {
  margin-left: 150px;
  font-weight: bold;
  opacity: 0.7;
  padding-top: 20px;
}
#main > .banner-1 > h2 {
  margin-left: 150px;
  font-size: 50px;
  color: rgb(1, 1, 112);
  font-weight: bold;
  margin-top: -10px;
}
#main > .banner-1 > p:last-of-type {
  margin-left: 150px;
  font-weight: bold;
  font-size: 17px;
}

#main > .banner-2 {
  background-image: url("https://paikdabang.com/wp-content/themes/paikdabang/assets/images/main_sec2.jpg");
  background-size: cover;
  width: 100%;
  height: 450px;
  position: relative;
}
#main > .banner-2 > h2:first-of-type {
  padding-top: 40px;
  margin-left: 150px;
  font-size: 50px;
  color: rgb(89, 85, 4);
  font-weight: 900;
}
#main > .banner-2 > h2:last-of-type {
  margin-left: 150px;
  font-size: 50px;
  color: rgb(89, 85, 4);
  font-weight: 900;
}
#main > .banner-2 > div:first-of-type {
  width: 40px;
  border: 2px solid rgb(89, 85, 4);
  margin-left: 150px;
  margin-top: 20px;
  margin-bottom: 20px;
}
#main > .banner-2 > p {
  margin-left: 150px;
  font-size: 17px;
  font-weight: bold;
}

#main > .banner-3 {
  background-image: url("https://paikdabang.com/wp-content/themes/paikdabang/assets/images/main_sec3.jpg");
  width: calc(60% - 3px);
  height: 400px;
  margin-top: 0px;
  background-size: cover;
  position: relative;
  display: inline-block;
}
#main > .banner-3 > h2:first-of-type {
  padding-top: 40px;
  margin-left: 150px;
  font-size: 50px;
  color: rgb(11, 2, 96);
  font-weight: 900;
}
#main > .banner-3 > h2:last-of-type {
  margin-left: 150px;
  font-size: 50px;
  color: rgb(11, 2, 96);
  font-weight: 900;
}
#main > .banner-3 > div:first-of-type {
  width: 40px;
  border: 2px solid rgb(11, 2, 96);
  margin-left: 150px;
  margin-top: 20px;
  margin-bottom: 20px;
}
#main > .banner-3 > p {
  margin-left: 150px;
  font-size: 17px;
  font-weight: bold;
}

#main > .banner-4 {
  background-image: url("https://paikdabang.com/wp-content/themes/paikdabang/assets/images/main_sec4.jpg");
  width: calc(39% + 20px);
  height: 400px;
  background-size: cover;
  position: relative;
  display: inline-block;
  margin-right: -20px;
  margin-left: -6px;
}
#main > .banner-4 > .btn {
  border-radius: 50px;
  width: 50px;
  height: 50px;
  background-color: white;
  position: absolute;
  bottom: 30px;
  left: 50px;
  transition-duration: 500ms;
  transition-timing-function: ease;
  box-shadow: 1px 1px 1px 1px rgb(228, 225, 225);
  overflow: hidden;
}
#main > .banner-4 > h2:first-of-type {
  padding-top: 40px;
  margin-left: 50px;
  font-size: 50px;
  color: rgb(109, 132, 17);
  font-weight: 900;
}
#main > .banner-4 > h2:last-of-type {
  margin-left: 50px;
  font-size: 50px;
  color: rgb(109, 132, 17);
  font-weight: 900;
}
#main > .banner-4 > div:first-of-type {
  width: 40px;
  border: 2px solid rgb(109, 132, 17);
  margin-left: 50px;
  margin-top: 20px;
  margin-bottom: 20px;
}
#main > .banner-4 > p {
  margin-left: 50px;
  font-size: 17px;
  font-weight: bold;
}

#box {
  display: inline-block;
  width: 100%;
  height: 700px;
  position: relative;
}
#box > .box1 {
  width: 500px;
  height: 300px;
  border: 2px solid rgb(1, 1, 112);
  position: relative;
  margin-top: 20px;
  margin-left: 11%;
  box-sizing: border-box;
}
#box > .box1 > h2 {
  font-size: 40px;
  padding-top: 30px;
  color: rgb(1, 1, 112);
  margin-left: 35px;
}
#box > .box1 > p {
  font-size: 17px;
  font-weight: bold;
  margin-left: 35px;
  padding-top: 10px;
}

#box > .box1 > input {
  line-height: 20px;
  font-size: 15px;
  margin-top: 120px;
  padding-left: 10px;
  width: 350px;
  height: 40px;
  margin-left: 35px;
  border: 2px solid rgb(1, 1, 112);
}
#box > .box1 > button {
  position: absolute;
  width: 35px;
  height: 35px;
  bottom: 26px;
  right: 110px;
  border: none;
  background-color: white;
  z-index: 20px;
}
#box > .box1 > button > img {
  width: inherit;
  height: inherit;
}

#box > .box2 {
  width: 500px;
  height: 300px;
  border: 2px solid rgb(1, 1, 112);
  position: relative;
  margin-top: 15px;
  margin-left: 11%;
  overflow: hidden;
  box-sizing: border-box;
}
#box > .box2 > h2 {
  font-size: 40px;
  padding-top: 30px;
  color: rgb(1, 1, 112);
  margin-left: 35px;
}
#box > .box2 > p {
  font-size: 17px;
  font-weight: bold;
  margin-left: 35px;
  padding-top: 10px;
}

#box > .box2 > .btn {
  border-radius: 50px;
  width: 50px;
  height: 50px;
  background-color: white;
  position: absolute;
  bottom: 40px;
  left: 30px;
  transition-duration: 500ms;
  transition-timing-function: ease;
  overflow: hidden;
  z-index: 20;
}
#box > .box2 > .btn:hover {
  transform: scale(1);
}
#box > .box2 > .btn > a > img {
  width: inherit;
  height: inherit;
  border-radius: 50px;
  bottom: -15px;
  position: absolute;
  left: 0px;
  transition-duration: 500ms;
  transition-timing-function: ease;
  overflow: hidden;
  display: none;
}
#box > .box2 > .btn:hover > a > img {
  display: block;
  position: absolute;
  width: inherit;
  height: inherit;
  bottom: -15px;
  left: 0px;
}
#box > .box3 {
  display: inline-block;
  width: 55%;
  height: 615px;
  position: absolute;
  right: 0;
  top: 20px;
  box-sizing: border-box;
  background-size: cover;
  margin-left: 20px;
  background-image: url("https://paikdabang.com/wp-content/themes/paikdabang/assets/images/main_sec5.jpg");
}
#box > .box3 > .btn {
  border-radius: 50px;
  width: 50px;
  height: 50px;
  background-color: white;
  position: absolute;
  bottom: 40px;
  left: 50px;
  transition-duration: 500ms;
  transition-timing-function: ease;
  overflow: hidden;
}
#box > .box3 > h2:first-of-type {
  font-size: 40px;
  padding-top: 30px;
  color: white;
  margin-left: 35px;
}
#box > .box3 > h2 {
  font-size: 40px;
  color: white;
  margin-left: 35px;
}
#box > .box3 > p {
  font-size: 17px;
  font-weight: bold;
  margin-left: 35px;
  padding-top: 10px;
  color: white;
}
#sns {
  width: 500px;
  height: 250px;
  margin: 0 auto;
  text-align: center;
}
#sns > h2 {
  font-size: 30px;
  padding-bottom: 20px;
}
#sns > span {
  opacity: 0.5;
}
#sns > .line {
  width: 50px;
  margin: 30px auto;
  border-bottom: 2px solid black;
}
#sns > .sns-img {
  display: flex;
  justify-content: center;
  gap: 20px;
}
#sns > .sns-img > div > a > img {
  width: 40px;
  height: 40px;
  display: block;
  margin: 0 auto;
}
footer {
  width: 100%;
  border-top: 3px solid yellow;
}
footer > .foot {
  width: 60%;
  margin: 0 auto;
  text-align: center;
  padding-top: 30px;
}
footer > .foot > div > a > img {
  width: 200px;
  height: 50px;
  padding-bottom: 30px;
}
footer > .foot > .line {
  display: inline-block;
  border-right: 1px solid gray;
  padding-right: 10px;
  height: 10px;
}
footer > .foot > span {
  font-size: 12px;
  padding-left: 10px;
}
footer > .foot > div:last-of-type {
  font-size: 15px;
  padding-top: 20px;
  padding-bottom: 20px;
}

@media screen and (max-width: 1200px) {
  header {
    height: 50px;
    transition: 1s;
    position: sticky;
  }
  header > .ulbox {
    display: none;
  }
  header > .main-img > a > img {
    width: 100px;
    height: 40px;
    position: fixed;
    top: 2px;
    left: 5px;
  }
  header > .header-img {
    display: none;
  }
  header > ul {
    display: none;
  }
  header > .menu {
    width: 40px;
    height: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
    position: absolute;
    top: 10px;
    right: 20px;
    z-index: 200;
    background-color: white;
  }
  header > .menu > span {
    width: 100%;
    height: 5px;
    background-color: black;
    border-radius: 5px;
  }
  /* header > #menu {
    display: none;
  }
  header > #menu:checked + .menu {
    transform: rotate(45deg);
  }
  header > #menu:checked + .menu > span:first-of-type {
    transform: rotate(45deg);
  } */

  .menu2 {
    width: 125px;
    height: 125px;
    border-radius: 200px;
    position: absolute;
    display: flex;
    background-image: url("https://paikdabang.com/wp-content/themes/paikdabang/assets/images/presentation_btn.png");
    background-size: cover;
    cursor: pointer;
    top: 100px;
    right: 20px;
  }
  .menu3 {
    width: 125px;
    height: 125px;
    border-radius: 200px;
    position: absolute;
    display: flex;
    background-image: url("https://paikdabang.com/wp-content/themes/paikdabang/assets/images/counsel_btn.png");
    background-size: cover;
    cursor: pointer;
    top: 250px;
    right: 20px;
  }
}
