* {
  margin: 0;
  padding: 0;
}
footer {
  width: 100%;
  border-top: 3px solid yellow;
}
footer > .foot {
  width: 60%;
  margin: 0 auto;
  text-align: center;
  padding-top: 30px;
}
footer > .foot > div > a > img {
  width: 200px;
  height: 50px;
  padding-bottom: 30px;
}
footer > .foot > .line {
  display: inline-block;
  border-right: 1px solid gray;
  padding-right: 10px;
  height: 10px;
}
footer > .foot > span {
  font-size: 12px;
  padding-left: 10px;
}
footer > .foot > div:last-of-type {
  font-size: 15px;
  padding-top: 20px;
  padding-bottom: 20px;
}
